<!DOCTYPE HTML>
<html>
    <body style="background-color: #efefef;">
     <head></head>

        
<style>
.div2{

    height: 400px;
    width: 800px;
    background-color: lightgreen;
    margin: auto;
  }
</style>

<div class="div2">
    
    <p style="text-align: center; font-family:'Haettenschweiler'; font-size: 80px;">Welcome to Spartsapp! </p>

    <form action="" method="POST" novalidate>
        {{form.hidden_tag()}}
        <p style="text-align: center; font-family:'Lucida Sans';">{{form.username.label}} <br> {{form.username()}}</p>
        <p style="text-align: center; font-family:'Lucida Sans';">{{form.password.label}} <br> {{form.password()}}</p>
        <p style="text-align: center; font-family:'Lucida Sans';">{{form.remember_me.label}} <br> {{form.remember_me()}}</p>
        <p style="text-align: center; font-family:'Lucida Sans';"> {{form.submit()}}</p>
    </form>
</div>
<h4>{{errorMessage}}</h4>
</body>
</html>
