
{% extends "home.html" %}

{% block mycontent %}
<center>
    <Title>Perfil</Title>
<div>
<h1 class="title">
¡Bienvenido, {{username}}!
</h1>
</div>
</center>
<center>
    
    <a class="button" href="/following"><b>Siguiendo</b></a><br>
    <a class="button" href="/followers"><b>Seguidores</b></a><br>

    <h1><h3>Bio:</h3>{{bio}}</h1>
    <h1><h3>Fecha de nacimiento:</h3>{{dob}}</h1>
    <h1><h3>Ubicación:</h3> {{location}}</h1>


    <h1><h3>Nombre de usuario:</h3>{{username}}</h1>
    <h1><h3>Contraseña:</h3>{{password