{% extends "base.html" %}

{% block mycontent %}
<center>
<h1>Welcome!</h1>
<p>Create your account here</p>

<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p>{{form.first.label}} <br> {{form.first()}}</p>
    <p>{{form.last.label}} <br> {{form.last()}}</p>
    <p>{{form.username.label}} <br> {{form.username()}}</p>
    <p>{{form.password.label}} <br> {{form.password()}}</p>
    <p>{{form.email.label}} <br> {{form.email()}}</p>
    <p>{{form.submit()}}</p>
</form>
<h4>{{error}}</h4>
<h5>You will be redirected to the login page when complete</h5>
</center>
{% endblock %}
