{% extends "Sbase.html" %}

{% block mycontent %}
<center>
<h1>Crea tu cuenta aquí</h1>

<form action="" method="POST" novalidate>
    {{form.hidden_tag()}}
    <p>{{form.first.label}} <br> {{form.first()}}</p>
    <p>{{form.last.label}} <br> {{form.last()}}</p>
    <p>{{form.username.label}} <br> {{form.username()}}</p>
    <p>{{form.password.label}} <br> {{form.password()}}</p>
    <p>{{form.email.label}} <br> {{form.email()}}</p>
    <p>{{form.submit()}}</p>
</form>
<h4>{{error}}</h4>
<h5>Será redirigido a la página de inicio de sesión cuando haya terminado a inscribire.</h5>
</center>
{% endblock %}